/* Estilos para telas maiores, como desktops */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2d3c4b;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

#toggle-sidebar {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 200px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.sidebar {
    width: 0;
    background: linear-gradient(to bottom, #2d3c4b, #2d3c4b);
    color: white;
    overflow-y: auto;
    transition: width 0.3s, background 0.3s;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.sidebar.open {
    width: 250px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px;
    transition: transform 0.3s, color 0.3s;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Estilize o ícone */
.sidebar nav ul li a i {
    margin-right: 10px;
    font-size: 18px;
}

/* Estilize o texto */
.sidebar nav ul li a span {
    font-size: 16px;
    font-weight: bold;
}

/* Quando o mouse passa sobre um item do menu */
.sidebar nav ul li:hover {
    transform: translateX(5px);
    color: #ffd700;
}

.sidebar nav ul li:hover a i {
    transform: rotate(180deg);
}

/* Efeito de gradiente no botão de alternância */
#toggle-sidebar:hover {
    background: linear-gradient(to bottom, #555, #444);
    transform: scale(1.05);
}

.main {
    flex: 1;
    padding: 20px;
}

/* Estilos para telas menores, como smartphones */
@media (max-width: 768px) {
    .logo img {
        width: 150px;
    }

    .sidebar {
        width: 100%;
        box-shadow: none;
        position: static;
    }

    .sidebar.open {
        width: 100%;
    }

    .main {
        padding: 10px;
    }
}

/* Adicione um estilo para o efeito de neon */
.sidebar nav ul li a span {
    position: relative;
    transition: color 0.3s, box-shadow 0.3s;
}

.sidebar nav ul li a span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #007bff, transparent);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;
}

/* Quando o mouse passa sobre um item do menu */
.sidebar nav ul li a:hover span::before {
    opacity: 1;
    animation: neon 1.5s infinite;
}

/* Animação de brilho */
@keyframes neon {
    0% {
        opacity: 0;
        box-shadow: 0 0 5px #007bff, 0 0 20px #007bff;
    }
    50% {
        opacity: 0.5;
        box-shadow: 0 0 10px #007bff, 0 0 30px #007bff;
    }
    100% {
        opacity: 0;
        box-shadow: 0 0 5px #007bff, 0 0 20px #007bff;
    }
}

/* Estilos para o texto de direitos autorais discreto */
.discreet-footer {
    background-color: #2d3c4b;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Estilize o link de direitos autorais */
.discreet-footer a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
}

/* Estilize o link de direitos autorais quando passar o mouse sobre ele */
.discreet-footer a:hover {
    text-decoration: underline;
}

/* Estilo para mostrar o texto de direitos autorais quando o usuário rolar até a parte inferior */
.show-footer {
    opacity: 1;
}
/* Estilos para a seção da planilha */
.spreadsheet-section {
    background-color: #f9f9f9; /* Cor de fundo para destacar a planilha */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-top: 20px; /* Espaçamento superior para separar do conteúdo principal */
}

/* Estilos para o título da planilha */
.spreadsheet-section h2 {
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 10px; /* Espaçamento inferior */
}

/* Estilos para a planilha incorporada */
#planilha {
    width: 100%;
    height: 600px;
    border: none;
    box-shadow: none;
}
/* Estilos para os campos do relatório */
#error-form {
    background-color: #f5f5f5; /* Cor de fundo do formulário */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário na página */
}

/* Ajusta o espaçamento nas laterais das entradas de texto */
#error-form label, #error-form textarea, #error-form button {
    margin: 5px 0; /* Espaçamento superior e inferior */
}

/* ... (outros estilos permanecem os mesmos) */

#error-form label {
    font-weight: bold;
    font-size: 18px;
    color: #333; /* Cor do texto */
}

#error-form input[type="text"],
#error-form input[type="email"],
#error-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Cor da borda */
    border-radius: 1px; /* Borda arredondada */
    font-size: 10px;
}

#error-form textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
}

#error-form button {
    background-color: #007bff; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 5px; /* Borda arredondada */
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#error-form button:hover {
    background-color: #0056b3; /* Cor do botão quando passar o mouse sobre ele */
}
 /* Estilos para o formulário */
 #myForm {
    background-color: #f5f5f5; /* Cor de fundo do formulário */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário na página */
}

/* Espaçamento nas laterais das entradas de texto e botão */
#myForm label,
#myForm textarea,
#myForm input[type="submit"] {
    margin: 10px 0; /* Espaçamento superior e inferior */
}

/* Estilo para rótulos de entrada */
#myForm label {
    font-weight: bold;
    font-size: 18px;
    color: #333; /* Cor do texto */
}

/* Estilo para entradas de texto e área de texto */
#myForm input[type="text"],
#myForm input[type="email"],
#myForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Cor da borda */
    border-radius: 5px; /* Borda arredondada */
    font-size: 16px;
}

/* Estilo para o botão de envio */
#myForm input[type="submit"] {
    background-color: #007bff; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 5px; /* Borda arredondada */
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Mudar a cor do botão quando passar o mouse sobre ele */
#myForm input[type="submit"]:hover {
    background-color: #0056b3; /* Cor do botão quando passar o mouse sobre ele */
}
    /* Estilo para a mensagem de confirmação */
    #confirmationMessage {
        background-color: #4CAF50; /* Cor de fundo verde */
        color: white;
        padding: 10px 20px;
        border-radius: 5px; /* Borda arredondada */
        font-size: 16px;
        text-align: center;
        display: none; /* Inicialmente oculta */
        margin-top: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    }

