/* Estilos para telas maiores, como desktops */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Fundo branco para a página inteira */
}

header {
    background-color: #2d3c4b;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

#toggle-sidebar {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 200px;
    height: auto;
}

.container {
    display: flex;
}

.sidebar {
    width: 0;
    background: linear-gradient(to bottom, #2d3c4b, #2d3c4b);
    color: white;
    overflow-y: auto;
    transition: width 0.3s, background 0.3s;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2);
}

.sidebar.open {
    width: 250px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px;
    transition: transform 0.3s, color 0.3s;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Estilize o ícone */
.sidebar nav ul li a i {
    margin-right: 10px;
    font-size: 18px;
}

/* Estilize o texto */
.sidebar nav ul li a span {
    font-size: 16px;
    font-weight: bold;
}

/* Quando o mouse passa sobre um item do menu */
.sidebar nav ul li:hover {
    transform: translateX(5px);
    color: #ffd700;
}

.sidebar nav ul li:hover a i {
    transform: rotate(180deg);
}

/* Efeito de gradiente no botão de alternância */
#toggle-sidebar:hover {
    background: linear-gradient(to bottom, #555, #444);
    transform: scale(1.05);
}

.main {
    flex: 1;
    padding: 20px;
}

/* Estilos para telas menores, como smartphones */
@media (max-width: 768px) {
    .logo img {
        width: 150px;
    }

    .container {
        flex-direction: column; /* Altera a direção dos elementos para empilhá-los verticalmente */
    }

    .sidebar {
        width: 100%; /* Ocupa toda a largura em telas menores */
        box-shadow: none; /* Remova a sombra na barra lateral em telas menores */
    }

    .sidebar.open {
        width: 100%; /* A barra lateral permanece aberta em telas menores */
    }

    .main {
        padding: 10px;
    }
}

/* Estilos adicionados para o efeito de neon */
.sidebar nav ul li a span {
    position: relative;
    transition: color 0.3s, box-shadow 0.3s;
}

.sidebar nav ul li a span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #007bff, transparent);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;
}

.sidebar nav ul li a:hover span::before {
    opacity: 1;
    animation: neon 1.5s infinite;
}

@keyframes neon {
    0% {
        opacity: 0;
        box-shadow: 0 0 5px #007bff, 0 0 20px #007bff;
    }
    50% {
        opacity: 0.5;
        box-shadow: 0 0 10px #007bff, 0 0 30px #007bff;
    }
    100% {
        opacity: 0;
        box-shadow: 0 0 5px #007bff, 0 0 20px #007bff;
    }
}

/* Estilos para o rodapé */
footer {
    background-color: #2d3c4b00;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /* Fixa o rodapé na parte inferior */
    bottom: 0;
    width: 100%;
    display: none; /* Inicialmente, o rodapé está oculto */
}

/* Estilo para mostrar o rodapé quando necessário */
.show-footer {
    display: block; /* Mostra o rodapé quando esta classe é aplicada */
}



/* Estilos para o texto do rodapé */
footer p {
    margin: 0;
}

/* Estilize o link de direitos autorais quando passar o mouse sobre ele */
footer a:hover {
    text-decoration: underline;
}

/* Estilos para a caixa de avisos e atualizações */
.notice-board {
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-top: 20px;
    border: 1px solid #ccc; /* Borda cinza clara */
}

.notice-title, .updates {
    font-size: 24px;
    font-weight: bold;
    color: #2d3c4b; /* Cor azul escura */
    margin-bottom: 10px;
}

.notice-text p, .update-details p {
    margin: 10px 0;
    color: #333; /* Cor de texto mais escura */
    line-height: 1.6; /* Espaçamento entre linhas */
}

/* ... Outros estilos ... */
.notice-text p {
    margin: 10px 0;
    color: #333; /* Cor de texto mais escura */
    line-height: 1.6; /* Espaçamento entre linhas */
}

.notice-text p.highlight {
    font-weight: bold; /* Texto em negrito */
    color: #ff6600; /* Cor de destaque laranja (você pode ajustar a cor conforme desejar) */
}
.update-details p.highlight {
    font-weight: bold; /* Texto em negrito */
    color: #ff3300; /* Cor de destaque laranja (você pode ajustar a cor conforme desejar) */
}
.discreet-footer {
    background-color: #2d3c4b;
    color: white;
    padding: 5px; /* Altura reduzida */
    text-align: center;
    font-size: 12px; /* Tamanho da fonte menor para tornar mais discreto */
}
.discreet-footer a {
    color: #ffd700;
    text-decoration: none;
    margin-left: 5px; /* Espaçamento menor entre os links */
}
/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2d3c4b;
    color: white;
}

/* Estilos para o cabeçalho da tabela */
thead th {
    font-weight: bold;
}

/* Estilos para as células da tabela */
tbody td {
    font-weight: normal; /* Alterado para normal */
}

/* Estilos para as células destacadas */
tbody td.highlight {
    background-color: #0778e241; /* Cor de destaque laranja (você pode ajustar a cor conforme desejar) */
    color: rgb(0, 0, 0);
}

/* Estilize o texto destacado */
.highlight {
    font-weight: bold;
    color: #ff6600; /* Cor de destaque laranja (você pode ajustar a cor conforme desejar) */
}
